### Docker
#DOCKER_REGISTRY_API_V1_URL=https://index.docker.io/v1/
#DOCKER_REGISTRY_API_V2_URL=https://registry.hub.docker.com/v2/

### Node-exporter
#   https://hub.docker.com/r/prom/node-exporter
#   https://hub.docker.com/r/prom/node-exporter/tags 
NODE_EXPORTER_VERSION=1.6.1

### Blackbox-exporter
#   https://hub.docker.com/r/prom/blackbox-exporter/
#   https://hub.docker.com/r/prom/blackbox-exporter/tags
BLACKBOX_EXPORTER_VERSION=0.23.0
#BLACKBOX_EXPORTER_VERSION=0.24.0

### Prometheus
#   https://hub.docker.com/r/prom/prometheus
#   https://hub.docker.com/r/prom/prometheus/tags
PROMETHEUS_VERSION=2.47.2

### Alertmanager
#   https://hub.docker.com/r/prom/alertmanager
#   https://hub.docker.com/r/prom/alertmanager/tags
ALERTMANGER_VERSION=0.26.0

### cAdvisor
#   https://console.cloud.google.com/gcr/images/cadvisor/GLOBAL/cadvisor?pli=1
#   !Container Registry is deprecated. After 2024.05.15, Artifact Registry will host images for the gcr.io domain in projects without previous Container Registry usage
#
CADVISOR_VERSION=0.46.0
#CADVISOR_VERSION=0.47.2     ## container doesnt start

### Redis (as cAdvisor dependency)
#   https://hub.docker.com/_/redis
#   https://hub.docker.com/_/redis/tags
#REDIS_VERSION=7.2.1
REDIS_VERSION=7.2.1-alpine

### Portainer
#   https://hub.docker.com/r/portainer/portainer-ce
#   https://hub.docker.com/r/portainer/portainer-ce/tags
PORTAINER_VERSION=2.19.1-alpine

### Grafana
#   https://hub.docker.com/r/grafana/grafana
#   https://hub.docker.com/r/grafana/grafana/tags
#   https://hub.docker.com/layers/grafana/grafana/10.1.5-ubuntu/images/sha256-5ac3f1301d656c13d37ea416652c255a791ea69772b04bbc48f5eaceb96cee23?context=explore
GRAFANA_VERSION=10.1.5-ubuntu
#
#..examples
GRAFANA_ENDPOINT=https://srv.acme.com/grafana
GRAFANA_LOGIN=user_name
GRAFANA_PSSWD=user_pass
